body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  flex: 1;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input,
button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

button:hover {
  background-color: #0056b3;
}

.dias-semana {
  display: flex;
  flex-direction: column;
}

.dias-semana label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.dias-semana input {
  width: 16px;
  height: 16px;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

.export-container {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.export-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.export-button:hover {
  background-color: #218838;
}

footer {
  text-align: center;
  padding: 10px;
  background: #f4f4f4;
  font-size: 14px;
  width: 100%;
}

footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  th,
  td {
    font-size: 14px;
    padding: 6px;
  }
}
